<% for (var i = 0; i < filenames.length; i++) { %>
<li class="list-group-item">
    <%= filenames[i].substring(filenames[i].indexOf('/15') + 14);%>
    <button
        type="button"
        class="btn btn-danger btn-sm float-right btn-delete"
        fileID="<%=fileIDs[i]%>"
    >
        Delete
    </button>
</li>
<% } %>
