<p><strong><%=human%></strong> used storing patron files.</p>
<p class="mb-0 small">
    This server allows up to 30GB to be stored in the home directory. In the
    past, we have only used around 3GB at most to store files. When 1GB or more
    has been used, please consider deleting old completed or rejected print
    submissions. Thank you!
</p>
