<% if (file.isReviewed) { %>
<% if (file.isRejected) { %>
<span class="badge badge-danger">Rejected</span>
<% } else { %>
<span class="badge badge-success">Accepted</span>
<% } %>
<% } else { %>
<span class="badge badge-primary">Unreviewed</span>
<% } %>

<% if (file.isPendingDelete) { %>
<span class="badge badge-danger">Pending Delete</span>
<% } %>