<script>
    $(document).ready(function () {
        $("footer").css("display", "block");
        $("footer").css("height", "auto");
        var footerHeight = $("footer").outerHeight();
        $("body").css("padding-bottom", footerHeight);
        $("footer").css("height", footerHeight);
    });
</script>
<footer
    class="navbar navbar-light bg-light"
    style="display: none; bottom: 0; width: 100%; position: absolute;"
>
    <div class="container mt-0 mb-2 p-0">
        <div class="row" style="width: 100%;">
            <div class="col-auto">
                <h5>Location</h5>
                <p class="small">
                    University of North Texas Libraries <br />
                    1115 Union Circle #305190 <br />
                    Denton, TX 76203-5017 <br />
                    (940) 565-2411
                </p>
            </div>
            <div class="col-auto mr-auto">
                <h5>Contact</h5>
                <p class="small">
                    <a href="mailto:thespark@unt.edu">TheSpark@unt.edu</a>
                    <br />
                    (940) 369-5259<br />
                    Willis Library 2nd floor study rooms <br />
                    Discovery Park M130 <br />
                </p>
            </div>
            <div class="col-auto">
                <h5>Bug Report</h5>
                <p class="small">
                    Email
                    <a href="mailto:hanna.flores@unt.edu"
                        >hanna.flores@unt.edu</a
                    >
                    <br />
                    Fill out the <a href="/bugreport">form</a>
                </p>
            </div>
        </div>
    </div>
</footer>
