<script>
    $(document).ready(function () {
        $("footer").css("display", "block");
        $("footer").css("height", "auto");
        var footerHeight = $("footer").outerHeight();
        $("body").css("padding-bottom", footerHeight);
        $("footer").css("height", footerHeight);
    });
</script>
<footer
    class="navbar navbar-dark"
    style="
        display: none;
        background-color: #00853e;
        bottom: 0;
        width: 100%;
        position: absolute;
    "
>
    <div class="container mt-0 mb-2 p-0">
        <div class="row" style="width: 100%;">
            <div class="col-3">
                <img
                    style="margin-top: 5px;"
                    src="/public/images/unt-logo-stacked-green.svg"
                />
            </div>
            <div class="col-auto">
                <span class="navbar-text">
                    <h5 class="text-light">Location</h5>
                    <p class="small">
                        University of North Texas Libraries <br />
                        1115 Union Circle #305190 <br />
                        Denton, TX 76203-5017 <br />
                        (940) 565-2411
                    </p>
                </span>
            </div>
            <div class="col-auto mr-auto">
                <span class="navbar-text">
                    <h5 class="text-light">Contact</h5>
                    <p class="small">
                        <a href="mailto:thespark@unt.edu">TheSpark@unt.edu</a>
                        <br />
                        (940) 369-5259<br />
                        Willis Library 2nd floor study rooms <br />
                        Discovery Park M130 <br /></p
                ></span>
            </div>
            <div class="col-auto">
                <span class="navbar-text">
                    <h5 class="text-light">Bug Report</h5>
                    <p class="small">
                        Email
                        <a href="mailto:hanna.flores@unt.edu"
                            >hanna.flores@unt.edu</a
                        >
                        <br />
                        Fill out the <a href="/bugreport">form</a>
                    </p></span
                >
            </div>
        </div>
    </div>
</footer>
