<div class="form-group single-file">
    <div class="form-group row">
        <div class="custom-file" id="customFile" lang="es">
            <input name="uploadedFile" type="file" class="custom-file-input" id="exampleInputFile"
                aria-describedby="fileHelp" required>
            <label class="custom-file-label" for="exampleInputFile">
                Select file...
            </label>
        </div>
    </div>
</div>