<div class="row">
    <div class="col camera-col">
        
        <ol class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><strong>Barcode</strong></div>
                    <div class="col"><strong>Item Call Num</strong></div>
                </div>
            </li> 
            
            <%Object.keys(data.camera).forEach(function(key) {%>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col"><%=key%></div>
                        <div class="col"><%=data.camera[key].substring(16)%></div>
                    </div>
                </li>    
            <%})%>

        </ol>
    </div>
    <div class="col lens1-col"> 
        <li class="list-group-item">
            <div class="row">
                <div class="col"><strong>Barcode</strong></div>
                <div class="col"><strong>Item Call Num</strong></div>
            </div>
        </li> 
        <%Object.keys(data.lens1).forEach(function(key) {%>
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><%=key%></div>
                    <div class="col"><%=data.lens1[key].substring(15)%></div>
                </div>
            </li>    
        <%})%>
    </div>
</div>