<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
        <style>
            .container {
                padding-top: 80px;
                margin: auto;
            }

            svg {
                vertical-align: bottom;
            }
        </style>
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="container col-sm-3" style="margin-bottom: 100px;">
            <div class="shadow card card-body">
                <h1>
                    <svg
                        class="bi bi-person"
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z"
                            clip-rule="evenodd"
                        />
                    </svg>
                    Signup
                </h1>

                <hr />
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/signup" method="post" autocomplete="off">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">EUID</span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                name="euid"
                                placeholder="EUID"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                placeholder="Name"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                name="email"
                                placeholder="Email"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                placeholder="Password"
                            />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    >Magic Words</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                name="magic"
                                placeholder="Magic Words..."
                            />
                        </div>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-lg btn-primary btn-block"
                    >
                        Signup
                    </button>
                </form>

                <hr />

                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </div>
        <%- include ("../../partials/footer") %>
    </body>
</html>
