<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="container mt-5" style="margin-bottom: 100px;"></div>
    </body>
</html>
