.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.alert th,
.alert td {
    padding: 0px;
}

.alert th {
    white-space: nowrap;
    padding-right: 1em;
}

.table-striped {
    margin-bottom: 0px;
}

.table-striped > tbody > tr:nth-child(1) > td,
.table-striped > tbody > tr:nth-child(1) > th {
    border-top: none;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: rgba(0, 0, 0, 0.05);
}

#loading-image {
    background-image: url("/public/images/loader.gif");
    background-position: center;
    width: 100%;
    height: 500px;
    position: absolute;
    background-repeat: no-repeat;
}

#model-container {
    width: 100%;
    position: relative;
    clear: both;
}

#model {
    position: relative;
}

#model canvas {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

#model canvas:focus {
    outline: none !important;
}

#gui-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 3;
}

.card-img-top {
    background: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.progress,
.progress-bar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 0.25rem;
}

.icon-btn {
    display: inline;
    cursor: pointer;
}

.dg .property-name {
    width: 80% !important;
}

.dg .c {
    width: 20% !important;
}

.close-button {
    display: none;
}

.dg li:not(.folder) {
    background: transparent !important;
}

.dg {
    color: #333 !important;
    text-shadow: none !important;
}

.dg .cr.boolean {
    border: none !important;
}

.no-bottom {
    margin-bottom: 0px;
}

.top-radius,
.top-radius {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.middle-radius {
    border-radius: 0px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.bottom-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
