.container {
    margin-top: 80px;
}

.plain tbody tr,
.plain tbody tr:hover,
.plain tbody td {
    background-color: transparent !important;
    border: none;
}

.no-padding {
    padding: 0px !important;
}

.fake-tab {
    border: 1px solid #ddd;
    border-top: none;
    margin-top: -1px;
}

.table {
    margin-bottom: 0px;
}

.none {
    text-align: center;
}

.icon-btn {
    display: inline;
    cursor: pointer;
}