<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
        <a
            class="nav-link <% if (woPage == "progress") { %> active <%}%>"
            href="/workrequests/progress"
            >In Progress</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link <% if (woPage == "completed") { %> active <%}%>"
            href="/workrequests/completed"
            >Completed</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link <% if (woPage == "all") { %> active <%}%>"
            href="/workrequests/all"
            >All</a
        >
    </li>
</ul>
