<div class="single-print">
    <div class="row g-3 mb-2">
        <div class="col">
            <input
                type="file"
                class="form-control"
                id="exampleInputFile"
                name="uploadedFile"
                data-container="body"
                data-toggle="popover"
                data-placement="right"
                data-trigger="focus"
                data-content="File must be an STL!"
                required
            />
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col">
            <label class="form-label">Material</label>
            <select name="material" class="form-control" required>
                <option value="No Preference">No preference</option>
                <option value="PLA">PLA</option>
                <option value="ABS">ABS</option>
                <option value="Other">Other (requires prior approval)</option>
            </select>
        </div>
        <div class="col">
            <label class="form-label">Infill</label>
            <input name="infill" type="text" class="form-control" value="12.5%" required />
        </div>
        <div class="col">
            <label class="form-label">Color</label>
            <input name="color" type="text" class="form-control" value="No preference" required />
        </div>
        <div class="col">
            <label class="form-label">Copies</label>
            <input name="copies" type="number" class="form-control" value="1" required />
        </div>
        <div class="col">
            <label class="form-label">Pickup Location</label>
            <select name="pickup" class="form-control" required>
                <option value="Willis Library">Willis Library</option>
                <option value="Discovery Park">Discovery Park</option>
            </select>
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <label class="form-label">Additional Information</label>
            <textarea name="notes" class="form-control" rows="2"></textarea>
        </div>
    </div>

    <hr />
</div>
