p
  | This email is a confirmation that your 3D print submission has been recorded in the Spark 3D Print Service Review Queue. The files we received were:
div
  ul
    - for(let item of fileNames)
        li= item
  p &nbsp;
  p
    | Now that you&apos;ve submitted your files for printing, here&apos;s what you can expect during the review process:
  ul
    li
      | Your files are in our review queue, but the Spark Team will need to evaluate them based on our current printing capabilities. We evaluate files in the order we receive them, so please be patient, and we will send you an email once this review is complete.
    li
      | If your files can be printed as they were submitted, you will receive an email with our review notes and a link through which you can pay for your requested files. If you&apos;ve changed your mind, simply ignore the payment link. If you would like to contact us for assistance in reducing your files&apos; print time, and thus cost, please send us an email at 
      a(href='mailto:TheSpark@unt.edu') TheSpark@unt.edu
      | , or visit our website at 
      a(href='https://guides.library.unt.edu/spark') https://guides.library.unt.edu/spark
      |  to schedule a consultation! Note that while print requests for educational purposes will have their payment waived, a link for payment will still be generated. If you indicated that your request was for a class or other educational purpose, the team will submit your request for a payment waive. In this case, you may safely ignore the payment request link.
    li
      | If your files cannot be printed for any reason, or if they will print but will not have the desired functionality due to design or printer limitations, you will instead receive an email with the review notes with improvement guidelines if applicable. Once again, reach out to us through email or on our website if you need any assistance.
    li
      | If some but not all your files were approved, you will receive an email indicating which files were accepted and which were rejected, and a link through which to pay for only those which were accepted.
  p &nbsp;
  p If your files were approved, the next stage of the process is as follows:
  ul
    li
      | Your files will be stored until payment is processed, or if your request is for educational purposes, briefly while the payment is waived.
    li
      | Once payment or waiver is complete, your files will be moved into the printing queue and will be printed in the order it was received.
    li
      | If your request contains multiple files, you will receive an email once each file is completed with the details and location for pickup. Note that completed prints that are not picked up within 14 days of completion will not be kept any longer.
div &nbsp;
div Thank you for using our services.
div
  | If you have any questions, please reach out to us at 
  a(href='mailto:TheSpark@unt.edu') TheSpark@unt.edu
p &nbsp;
div The Spark Makerspace - UNT Libraries
div University of North Texas
div Willis Library rm. 135 | 940-369-5259
div Discovery Park rm. M130 | 940-565-3175
div Please visit https://guides.library.unt.edu/spark for our hours.
div &nbsp;
div
  | Podcast: on Apple Podcast as UNT MindSpark or at 
  a(href='https://untmakerspace.podbean.com') https://untmakerspace.podbean.com
div
  | Blog: 
  a(href='https://blogs.library.unt.edu/spark/') https://blogs.library.unt.edu/spark/
div Igniting the imagination through cooperative learning...