<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="jumbotron text-center">
            <h1 class="display-3">Unexpected Error</h1>
            <p class="lead">
                <strong>We could not process your request.</strong>
                Please try again.<br />If you continue seeing this message
                please email
                <a href="mailto:hanna.flores@unt.edu">hanna.flores@unt.edu</a>
            </p>
            <hr />
            <p>
                Having trouble? <a href="mailto:thespark@unt.edu">Contact us</a>
            </p>
        </div>
    </body>
</html>
