<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
        <!--
        <link type="text/css" rel="stylesheet" href="../../public/css/meta.css" />
        <script src="/public/js/meta.js"></script>-->
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="container-xl mt-5" style="margin-bottom: 100px"></div>
        <%- include ("../../partials/footer") %>
    </body>
</html>
