<!doctype html>
<html>
<head>
    <%- include ("../../partials/head") %>
    <style>
        .container {
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <%- include ("../../partials/header") %>
<div class="container">
    <div>
        Payment recieved thanks
    </div>
    <%- data.request_contents %>
</div>
</body>
</html>