<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
        <style>
            .container {
                padding-top: 80px;
            }
        </style>
    </head>
    <body>
        <%- include ("../../partials/header") %>
        <div class="container" style="margin-bottom: 100px;">
            <div>
                Payment recieved thanks
            </div>
            <%- data.request_contents %>
        </div>
        <%- include ("../../partials/footer") %>
    </body>
</html>
