<!doctype html>
<html>

<head>
    <%- include ("../../partials/head") %>
    <script src="../public/js/signature.js"></script>
    <style>
        html,
        body {
            margin: 0px;
            padding: 0px;
        }

        canvas {
            margin-top: 10px;
            margin-left: 25px;
            margin-bottom: 20px;
            
        }

        .box {
            width: calc(100vw - 50px);
            margin-left: 25px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="box">
        <h1 class="header">Print Pickup Signature</h1>
        <p class="text-body">
            Please wait for the technician!
        </p>
    </div>
    <div class="signature-pad">
        
    </div>


</body>

</html>