<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="jumbotron text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead">
                <strong>Your payment has been recieved</strong>
                and we will begin printing your files soon as possible.<br />
                We will contact you when your files have been printed.
            </p>
            <hr />
            <p>
                Having trouble? <a href="mailto:thespark@unt.edu">Contact us</a>
            </p>
        </div>
    </body>
</html>
