<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
    </head>
    <body>
        <%- include ("../partials/header") %>
        <div class="container mt-5">
            <div class="col-8 offset-2">
                <div class="card shadow">
                    <div class="card-header">
                        <h1>Bug Report</h1>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>
                                    What went wrong?
                                </label>
                                <textarea
                                    name="error"
                                    class="form-control"
                                    rows="6"
                                    placeholder="Please give as much detail as you can."
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    What were you doing?
                                </label>
                                <textarea
                                    name="action"
                                    class="form-control"
                                    rows="6"
                                    placeholder="What you were trying to do, and what were the last few buttons you clicked? The more information, the better!"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label
                                    >Around what time did the error
                                    occur?</label
                                >
                                <input
                                    type="text"
                                    name="time"
                                    class="form-control"
                                />
                            </div>
                            <hr />
                            <button
                                type="submit"
                                class="btn btn-lg btn-primary btn-block submit-form"
                            >
                                Submit
                            </button>

                            <p class="mb-0 mt-2">
                                Thank you for your time, every bug report helps
                                make this site better!
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
