<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          height: 800,
          selectable: true,
          themeSystem: 'bootstrap',
          select: function(info) {
            alert('Clicked on: ' + info.startStr + 'to' + info.endStr);
          }
        });
        calendar.render();
      });

    </script>

    <style>
        .container {
            margin-top: 80px;
        }

        .nav-pills {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            margin-right: -1px;
            z-index: 10;
        }

        .calendar-card {
            border-top-left-radius: 0px;
        }
    </style>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container">
    
        
            <div class="row ">
                <div class="col-3 pr-0">
                    
                    <div class="card nav flex-column nav-pills border-right-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Canon EOS 5D Mark IV</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Canon EOS 7D Mark II</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Canon EOS 80D</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Canon EOS Rebel T6 (Unit 1)</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Canon EOS Rebel T6 (Unit 2)</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Canon Rebel SL1</a>
                        <hr>
                        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">AT-X 116 PRO DX-II 11-16mm f/2.8</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Rokinon 14mm f/2.8</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Rokinon Tilt-Shift ​24mm f/3.5</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">EF-S ​17-55mm f/2.8 IS USM</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">EF ​50mm f/1.8 STM</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">EF ​85mm f/1.8 USM</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">EF ​100mm f/2.8 Macro USM</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">EF-S ​55-250mm f/4-5.6 IS II</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">EF ​75-300mm f/4-5.6 III</a>
                        <hr class="mb-0">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                    </div>
                </div>
                <div class="col pl-0">
                    <div class="card calendar-card">
                        <div class="card-body" id='calendar'></div>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>