<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
        <style>
            .container {
                padding-bottom: 80px;
            }

            .img-container {
                height: 200px;
                overflow: hidden;
            }
        </style>
    </head>

    <body>
        <%- include ("../partials/header") %>
        <div class="container mt-5 px-5" style="margin-bottom: 100px; max-width: 100em">
            <div class="row mb-4">
                <div class="col-lg mb-5">
                    <div class="shadow card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img
                                    src="/public/images/printer.png"
                                    class="card-img"
                                    style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
                                    alt="..."
                                />
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h3 class="card-title">3D Printing</h3>
                                    <p class="card-text">
                                        The Spark Makerspace has an army of 3D printers in both locations to print
                                        models for our patrons! Just submit your models through this website, and pick
                                        up your models in 5 to 7 business days. Prints for classes are completely free,
                                        just make sure to tell us the class and professor in the notes when you submit
                                        your files. Otherwise, we only charge $1 per hour of print time.
                                    </p>
                                    <p class="card-text">
                                        We offer prints in PLA and ABS in a wide variety of colors, just let us know
                                        what you would like in the submission form.
                                    </p>
                                    <a role="button" class="btn btn-primary" href="/submit">Submit 3D Print</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <%- include ("../partials/footer") %>
    </body>
</html>
