<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <style>
        .container {
            padding-top: 80px;
        }
    </style>
    
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fas fa-exclamation-triangle"></span> Under Construction! <span class="fas fa-exclamation-triangle"></span></h1>

            <p>Just like Willis...</p>

            <p>RIP to the OG Factory Makerspace location 2014-2020</p>
        </div>
    </div>
</body>

</html>