<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
        <style>
            .container {
                padding-bottom: 80px;
            }

            .img-container {
                height: 200px;
                overflow: hidden;
            }
        </style>
    </head>

    <body>
        <%- include ("../partials/header") %>
        <div
            class="container mt-5 px-5"
            style="margin-bottom: 100px; max-width: 100em"
        >
            <div class="row mb-">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h3 class="card-title">3D Printing</h3>
                            <p class="card-text">
                                Welcome to The Spark Makerspace 3D printing
                                services! This queue is for full service print
                                submissions. Full service within The Spark
                                generally costs $1.00 per print hour and
                                includes:
                            </p>
                            <ul>
                                <li>3D model quality review</li>
                                <li>Material/s assessment</li>
                                <li>Machine setup</li>
                                <li>Quality control monitoring</li>
                                <li>
                                    Print Options
                                    <ul>
                                        <li>Material selection options</li>
                                        <li>Print bed upgrade</li>
                                        <li>Dual color prints*</li>
                                    </ul>
                                </li>
                            </ul>
                            <p class="card-text">
                                Please visit The Spark website for more
                                information about the 3D printers we have in our
                                collection.
                            </p>
                        </div>
                    </div>

                    <div class="card shadow">
                        <div class="card-body">
                            <p class="card-text">
                                *Please let us know if you are not receiving
                                communications within the standard timelines
                                above
                            </p>
                            <p class="card-text">
                                **Approval email will include the link to the
                                payment portal
                            </p>
                            <p>
                                The Spark is not allowed to make changes to
                                submitted files, so please verify the print
                                files meet your desired expectations before
                                submitting. 3D prints often require supports in
                                order to print,
                                <a
                                    href="https://blogs.library.unt.edu/spark/2021/03/03/support-on-3d-prints/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    data-auth="NotApplicable"
                                    >please go to our blog for more
                                    information</a
                                >. Also note, The Spark does not do any post
                                processing of 3D prints.
                            </p>
                            <a
                                role="button"
                                class="btn btn-primary"
                                href="/submit"
                                >Submit 3D Print</a
                            >
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Submission Process</h3>
                            <ul>
                                <li>
                                    Complete Contact information- All
                                    communication is via email, please confirm
                                    that the email you include is one you check
                                    regularly
                                </li>
                                <li>
                                    Select the appropriate tab: Personal, Class,
                                    or Internal
                                    <ul>
                                        <li>
                                            Personal- the print is for personal
                                            use
                                        </li>
                                        <li>
                                            Class- Print is for an assignment in
                                            a class, to have the fee waived
                                            submission must include professor
                                            full name and class number
                                        </li>
                                        <li>
                                            Internal- print is for a UNT Library
                                            department
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    Upload your .stl file/s
                                    <ul>
                                        <li>
                                            Upload files separately; use the
                                            ‘add a file’ or ‘remove a file’
                                            button as needed
                                        </li>
                                        <li>
                                            3D models are printed using standard
                                            slicing settings unless otherwise
                                            noted
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-body">
                            <h3 class="card-title">Expectations:</h3>
                            <ul>
                                <li>Timeline</li>
                                <ul>
                                    <li>
                                        Submission reviewed in 2-3
                                        <a
                                            href="https://calendar.library.unt.edu/"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            data-auth="NotApplicable"
                                            >Spark business days</a
                                        >*
                                    </li>
                                    <li>
                                        Approved Submissions are printed within
                                        7-10
                                        <a
                                            href="https://calendar.library.unt.edu/"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            data-auth="NotApplicable"
                                            >Spark business days</a
                                        >
                                        of payment being received**
                                    </li>
                                    <li>
                                        The Spark can not guarantee turnaround
                                        times of less than 10
                                        <a
                                            href="https://calendar.library.unt.edu/"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            data-auth="NotApplicable"
                                            >Spark business days</a
                                        >*
                                    </li>
                                    <li>
                                        The Spark Team will make every effort to
                                        meet and exceed turn-around times,
                                        although timelines can vary based on a
                                        number of factors including:
                                        <ul style="margin-bottom: 0in">
                                            <li>Print time/s</li>
                                            <li>Queue volume</li>
                                            <li>Staff and machine capacity</li>
                                            <li>Semester events</li>
                                        </ul>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <%- include ("../partials/footer") %>
    </body>
</html>
