<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
        <link type="text/css" rel="stylesheet" href="../../public/css/submit.css" />
        <script src="/public/js/submit.js"></script>
    </head>

    <body>
        <%- include ("../partials/header") %>
        <div class="container-xl mt-5" style="margin-bottom: 100px">
            <div class="col-8 offset-2">
                <div class="shadow card">
                    <div class="card-header">
                        <h1>New Submission</h1>
                    </div>
                    <div class="card-body">
                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                        <div class="alert alert-success"><%= message %></div>
                        <% } %>

                        <!-- SUBMISSION FORM -->
                        <form id="submission-form" action="/submitprint" method="POST" enctype="multipart/form-data">
                            <h4>Contact Info</h4>
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control top"
                                    name="first"
                                    placeholder="First name"
                                    required
                                />
                                <input
                                    type="text"
                                    class="form-control top"
                                    name="last"
                                    placeholder="Last name"
                                    required
                                />
                            </div>

                            <input type="email" class="form-control inner" name="email" placeholder="Email" required />

                            <input
                                type="text"
                                class="form-control euid inner"
                                name="euid"
                                placeholder="EUID (students only, not required)"
                            />

                            <input type="tel" class="form-control bottom" name="phone" placeholder="Phone Number" />

                            <hr />

                            <h4>This submission is:</h4>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="submissionType"
                                    id="inlineRadio1"
                                    value="personal"
                                    checked
                                />
                                <label class="form-check-label" for="inlineRadio1">Personal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="submissionType"
                                    id="inlineRadio2"
                                    value="class"
                                />
                                <label class="form-check-label" for="inlineRadio2">For a class</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="submissionType"
                                    id="inlineRadio3"
                                    value="internal"
                                />
                                <label class="form-check-label" for="inlineRadio3">For a library department</label>
                            </div>

                            <h5>Class Details</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="floatingInput"
                                            placeholder="CSCE 4901"
                                        />
                                        <label for="floatingInput">Class Code</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="floatingInput"
                                            placeholder="Firstname Lastname"
                                        />
                                        <label for="floatingInput">Professor</label>
                                    </div>
                                </div>
                            </div>

                            <h5>Liibrary Department Details</h5>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Library Department...</option>
                                <option value="1">The Spark Makerspace</option>
                                <option value="2">Media Library</option>
                                <option value="3">Others</option>
                            </select>

                            <hr />
                            <div id="files-list"></div>
                            <div class="clearfix">
                                <button type="button" id="change" class="btn btn-outline-primary btn-sm float-left">
                                    Add a file
                                </button>
                                <button type="button" id="remove" class="btn btn-outline-danger btn-sm float-right">
                                    Remove last file
                                </button>
                            </div>

                            <div class="d-grid gap-2 mt-2">
                                <button type="submit" class="btn btn-lg btn-primary submit-form">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <p>Go <a href="/">home</a>?</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("../partials/footer") %>
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Uploading Your FIles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please be patient, large files may take a moment to upload</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
