<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head") %>
        <link type="text/css" rel="stylesheet" href="../../public/css/submit.css" />
        <script src="/public/js/submit.js"></script>
    </head>

    <body>
        <%- include ("../partials/header") %>
        <div class="container-xl mt-5" style="margin-bottom: 100px">
            <div class="col-8 offset-2">
                <div class="shadow card">
                    <div class="card-header">
                        <h1>New Submission</h1>
                    </div>
                    <div class="card-body">
                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                        <div class="alert alert-success"><%= message %></div>
                        <% } %>

                        <!-- SUBMISSION FORM -->
                        <form id="submission-form" action="/submitprint" method="POST" enctype="multipart/form-data">
                            <div class="row g-3 mb-3">
                                <div class="col">
                                    <h4 class="mb-3">Contact Info</h4>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="first"
                                            placeholder="First name"
                                            required
                                            style="border-bottom-left-radius: 0px"
                                        />
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="last"
                                            placeholder="Last name"
                                            required
                                            style="border-bottom-right-radius: 0px"
                                        />
                                    </div>

                                    <input
                                        type="email"
                                        class="form-control border-top-0"
                                        name="email"
                                        placeholder="Email"
                                        required
                                        style="border-radius: 0px"
                                    />

                                    <input
                                        type="text"
                                        class="form-control euid border-top-0"
                                        name="euid"
                                        placeholder="EUID (students only, not required)"
                                        style="border-radius: 0px"
                                    />

                                    <input
                                        type="tel"
                                        class="form-control border-top-0"
                                        name="phone"
                                        placeholder="Phone Number"
                                        style="border-top-left-radius: 0px; border-top-right-radius: 0px"
                                    />
                                </div>

                                <div class="col">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a
                                                class="nav-link active"
                                                id="personal-tab"
                                                data-bs-toggle="tab"
                                                href="#personal"
                                                role="tab"
                                                >Personal</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                id="class-tab"
                                                data-bs-toggle="tab"
                                                href="#class"
                                                role="tab"
                                                >Class Related</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                id="library-tab"
                                                data-bs-toggle="tab"
                                                href="#library"
                                                role="tab"
                                                >Library Department</a
                                            >
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <div
                                            class="tab-pane fade show active"
                                            id="personal"
                                            role="tabpanel"
                                            aria-labelledby="personal-tab"
                                        >
                                            <p class="mt-2 mb-0">
                                                No extra information is needed for personal prints. If this print is for
                                                a class (i.e. senior design or research), please select the Class tab
                                                above and enter the required information.
                                            </p>
                                        </div>
                                        <div
                                            class="tab-pane fade"
                                            id="class"
                                            role="tabpanel"
                                            aria-labelledby="class-tab"
                                        >
                                            <div class="mb-3">
                                                <label for="course" class="form-label"
                                                    >Course code (i.e. CSCE 4901)</label
                                                >
                                                <div class="form-floating mb-3">
                                                    <input
                                                        type="email"
                                                        class="form-control"
                                                        id="floatingInput"
                                                        placeholder="name@example.com"
                                                    />
                                                    <label for="floatingInput">Email address</label>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="prof" class="form-label"
                                                    >Professor (i.e. Firstname Lastname)</label
                                                >

                                                <input type="text" aria-label="prof" class="form-control" />
                                            </div>
                                        </div>
                                        <div
                                            class="tab-pane fade"
                                            id="library"
                                            role="tabpanel"
                                            aria-labelledby="library-tab"
                                        >
                                            Library
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div id="files-list"></div>
                            <div class="clearfix">
                                <button type="button" id="change" class="btn btn-outline-primary btn-sm float-left">
                                    Add a file
                                </button>
                                <button type="button" id="remove" class="btn btn-outline-danger btn-sm float-right">
                                    Remove last file
                                </button>
                            </div>

                            <div class="d-grid gap-2 mt-2">
                                <button type="submit" class="btn btn-lg btn-primary submit-form">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <p>Go <a href="/">home</a>?</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("../partials/footer") %>
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Uploading Your FIles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please be patient, large files may take a moment to upload</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
