<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <style>
        .container {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> New Submission</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- SUBMISSION FORM -->
            <form action="/submit" method="post">
                <div class="form-group form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="euid">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="requestType">Request Type</label>
                    <select class="form-control" id="requestTypeSelector">
                        <option>3D Print</option>
                        <option>CNC Work Order</option>
                        <option>Laser Cut/Engrave Work Order</option>
                        <option>Embroidery Machine Work Order</option>
                        <option>Other (please specify in the notes)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="notes">Additional Notes</label>
                    <textarea class="form-control" id="notesContainer" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Submit</button>
            </form>

            <hr>


            <p>Go <a href="/">home</a>?</p>

        </div>

    </div>
</body>

</html>