<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <link type="text/css" rel="stylesheet" href="../../public/css/submit.css">
    <script src="../../public/js/submit.js"></script>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container col-sm-6 offset-sm-3">

        <h1 class="pgTitle"><svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                    clip-rule="evenodd" />
            </svg> New Submission</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
        <% } %>

        <!-- SUBMISSION FORM -->
        <form id="submission-form" action="/submitprint" method="post" enctype="multipart/form-data">

            <div class="form-group no-margin">
                <label>Patron Info</label>
                <div class="input-group">
                    <input type="text" class="form-control top" name="first" placeholder="First name" required>
                    <input type="text" class="form-control top" name="last" placeholder="Last name" required>
                </div>
            </div>
            <div class="form-group no-margin">
                <input type="email" class="form-control inner" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control euid bottom" name="euid" placeholder="EUID" required>
            </div>


            <div class="form-group">
                <label>Request Type</label>
                <select class="form-control" id="requestTypeSelector" name="requestType" required>
                    <option value="print">3D Print</option>
                    <option value="cnc">CNC Work Order</option>
                    <option value="laser">Laser Cut/Engrave Work Order</option>
                    <option value="embroider">Embroidery Machine Work Order</option>
                    <option value="other">Other (please specify in the notes)</option>
                </select>
            </div>


            <div class="print-only form-group">
                <hr>
                <div id="files-list"></div>
                <div class="clearfix">
                    <button type="button" id="change" class="btn btn-outline-primary btn-sm float-left">Add
                        another</button>
                    <button type="button" id="remove" class="btn btn-outline-danger btn-sm float-right">Remove
                        One</button>
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block submit-form">Submit</button>
        </form>
        <hr>
        

        <p>Go <a href="/">home</a>?</p>

    </div>

</body>

</html>