<!doctype html>
<html>
    <head>
        <%- include ("../partials/head") %>
        <link type="text/css" rel="stylesheet" href="/public/css/prints.css">
        <script src="../public/js/workrequests.js"></script>
    </head>

    <body>
        <%- include ("../partials/header") %>
        <div class="container">
            <%=request%>
        </div>
    </body>
</html>
