<div class="shadow alert alert-warning">
    <h4>Waive Payment</h4>
    <p>
        Waive payment for this entire submission? This will waive payment for
        every file in this submission.
    </p>
    <button
        type="button"
        class="btn btn-warning btn-sm btn-block btn-waive"
        fileID="<%=submission._id%>"
    >
        Waive
    </button>
</div>
