<div class="alert alert-danger">
    <h4>Contact Record</h4>
    1st contact: ______________________________ <br>
    2nd contact: ______________________________ <br>
    Final: ____________________________________ <br>
</div>