<div class="card-group mt-1">
    <div class="card">
        <div class="card-body p-1">
            <p class="small text-muted mb-0">Unprinted</p>
            <%var unprinted = file.copies -
            (file.printingData?file.printingData.copiesPrinted:0) -
            (file.printingData?file.printingData.copiesPrinting:0)%>
            <!-- prettier-ignore -->
            <%for (var i = 0; i < unprinted; i++) {%>
            <span class="badge font-weight-normal alert-primary"
                >Copy <%=i+1%></span
            >
            <%}%>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-1">
            <p class="small text-muted mb-0">Printing</p>
            <!-- prettier-ignore -->
            <%var printing = (file.printingData?file.printingData.copiesPrinting:0)%>
            <!-- prettier-ignore -->
            <%for (var i = 0; i < printing; i++) {%>
            <span class="badge font-weight-normal alert-warning"
                >Copy <%=i+unprinted+1%></span
            >
            <%}%>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-1">
            <p class="small text-muted mb-0">Completed</p>
            <!-- prettier-ignore -->
            <%var completed = (file.printingData?file.printingData.copiesPrinted:0)%>
            <!-- prettier-ignore -->
            <%for (var i = 0; i < completed; i++) {%>
            <span class="badge font-weight-normal alert-success"
                >Copy <%=i+unprinted+printing+1%></span
            >
            <%}%>
        </div>
    </div>
</div>
