<% if (file.isNewSubmission || isAll) { %> <% if (file.isReviewed) { %> <% if (file.isRejected) { %>
<span class="badge badge-danger">Rejected</span>
<% } else { %>
<span class="badge badge-success">Accepted</span>
<% } %> <% } else { %>
<span class="badge badge-primary">Unreviewed</span>
<% } %> <% } %> <% if (file.isPrinted || isAll) { %> <% if (file.pickupLocation == "Willis Library") { %>
<span class="badge badge-info">Willis</span>
<% } else { %>
<span class="badge badge-info">DP</span>
<% } %> <% } else { %> <% if (file.printLocation == "Willis Library") { %>
<span class="badge badge-info">Willis</span>
<% } else { %>
<span class="badge badge-info">DP</span>
<% } %> <% } %> <%if (!file.isPickedUp) {%> <% if (file.dateOfConfiscation != 'Not yet sent') {%>
<span class="badge badge-danger">Reposessed</span>
<% } else if (file.dateOfSecondWarning != 'Not yet sent') { %>
<span class="badge badge-warning">Final Warning</span>
<% } else if (file.dateOfFirstWarning != 'Not yet sent') {%>
<span class="badge badge-warning">First Warning</span>
<% } %> <%}%> <% if (file.isPendingDelete) { %>
<span class="badge badge-danger">Pending Delete</span>
<% } %> <% if (file.isPrinting) { %>
<span class="badge badge-success">Printing</span>
<% } %> <% if (file.isPendingWaive) { %>
<span class="badge badge-warning">Pending Waive</span>
<% } %>
