<div class="shadow alert alert-success">
    <h4>Patron Details</h4>
    <p class="mb-0">
        <strong>Name:</strong> <%=patron.fname%> <%=patron.lname%> <br>
        <strong>Date submitted:</strong> <%=print.dateSubmitted%> <br>
        <strong>Email:</strong> <%=patron.email%>
    </p>
</div>