<div class="card shadow mb-3">
    <div class="card-header">
        <h5 class="mb-0">Print Attempts</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-primary btn-block" href="/printers/jobs"
            >Start new attempt</a
        >
    </div>
</div>
