<div class="list-group shadow">
    <a
        href="/prints/new"
        class="list-group-item list-group-item-action <% if (printPage == 'newSub') { %> active <%}%>"
    >
        New Submissions</a
    >
    <a
        href="/prints/pendpay"
        class="list-group-item list-group-item-action <% if (printPage == 'pendpay') { %> active <%}%>"
    >
        Pending Payment</a
    >
    <a
        href="/prints/ready"
        class="list-group-item list-group-item-action <% if (printPage == 'ready' && location == 'all') { %> active <%}%>"
    >
        Ready To Print</a
    >
    <a
        href="/prints/readywillis"
        class="list-group-item list-group-item-action <% if (printPage == 'ready' && location == 'Willis Library') { %> active <%}%>"
    >
        Ready To Print Willis</a
    >
    <a
        href="/prints/readydp"
        class="list-group-item list-group-item-action <% if (printPage == 'ready' && location == 'Discovery Park') { %> active <%}%>"
    >
        Ready To Print DP</a
    >
    <a
        href="/prints/printing"
        class="list-group-item list-group-item-action <% if (printPage == 'printing' && location == 'all') { %> active <%}%>"
    >
        Printing</a
    >
    <a
        href="/prints/printingwillis"
        class="list-group-item list-group-item-action <% if (printPage == 'printing' && location == 'Willis Library') { %> active <%}%>"
    >
        Printing Willis</a
    >
    <a
        href="/prints/printingdp"
        class="list-group-item list-group-item-action <% if (printPage == 'printing' && location == 'Discovery Park') { %> active <%}%>"
    >
        Printing DP</a
    >
    <a
        href="/prints/intransit"
        class="list-group-item list-group-item-action <% if (printPage == 'inTransit') { %> active <%}%>"
    >
        In Transit</a
    >
    <a
        href="/prints/pickup"
        class="list-group-item list-group-item-action <% if (printPage == 'pickup' && location == 'all') { %> active <%}%>"
    >
        Waiting for Pickup</a
    >
    <a
        href="/prints/pickupwillis"
        class="list-group-item list-group-item-action <% if (printPage == 'pickup' && location == 'Willis Library') { %> active <%}%>"
    >
        Waiting for Pickup Willis</a
    >
    <a
        href="/prints/pickupdp"
        class="list-group-item list-group-item-action <% if (printPage == 'pickup' && location == 'Discovery Park') { %> active <%}%>"
    >
        Waiting for Pickup DP</a
    >
    <a
        href="/prints/completed"
        class="list-group-item list-group-item-action <% if (printPage == 'completed') { %> active <%}%>"
    >
        Completed</a
    >
    <a
        href="/prints/rejected"
        class="list-group-item list-group-item-action <% if (printPage == 'rejected') { %> active <%}%>"
    >
        Rejected</a
    >
    <a
        href="/prints/pendpaystale"
        class="list-group-item list-group-item-action <% if (printPage == 'pendpaystale') { %> active <%}%>"
    >
        Stale on Payment</a
    >
    <a
        href="/prints/pickupstale"
        class="list-group-item list-group-item-action <% if (printPage == 'pickupstale') { %> active <%}%>"
    >
        Stale on Pickup</a
    >
    <a
        href="/prints/all"
        class="list-group-item list-group-item-action <% if (printPage == 'all') { %> active <%}%>"
    >
        All</a
    >
</div>
