<div class="alert alert-warning">
    <h4>Status</h4>
    <p>
        
    </p>
    Time Started: ______________________________ <br>
    Time Ended: ________________________________ <br>
    Current attempt number: ___<br>
    Ready for pickup [ ] Date: ________________  <br>
    Picked Up [ ] Date: ________________ <br>
</div>