<div class="card shadow mb-3">
    <div class="card-body">
        <h4>Currently In Transit</h4>
        <p>
            When this print arrives at <%=print.pickupLocation%>, please click
            the button below to notify the patron
        </p>
        <button
            id="arrival"
            class="btn btn-success btn-block"
            fileID="<%=print._id%>"
        >
            Print Is Now At <%=print.pickupLocation%>
        </button>
    </div>
</div>

<script>
    document.getElementById("arrival").onclick = function (e) {
        var fileID = e.target.getAttribute("fileID");
        $.ajax({
            type: "POST",
            url: "/prints/arrived",
            data: {
                fileID: fileID,
            },
            dataType: "json",
        }).done(function () {
            console.log("done???");
            location.reload();
        });
    };
</script>
